<h3>Left Menu</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis molestie ante vitae ullamcorper. Maecenas pretium facilisis erat, ut ultricies augue dictum ac. Fusce aliquet imperdiet odio, in elementum diam molestie eget. Aenean iaculis, eros id scelerisque tempor, odio urna scelerisque tellus, in tempor ante ante rutrum justo. Sed in libero elit. Curabitur aliquam dui nec mauris fringilla non gravida metus pellentesque. Proin placerat sollicitudin faucibus. Donec rutrum elit sed lacus sagittis aliquam.
</br> </br>
<div id="centralize"> <%= link_to "Add a new link", new_link_path, class: 'btn btn-primary btn-align-center' %> </div>
